version: "3.8"

services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    depends_on:
      - wordpress
    networks:
      - inception
    ports:
      - "443:443"
    restart: unless-stopped

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    networks:
      - inception
    restart: unless-stopped

  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    networks:
      - inception
    restart: unless-stopped

networks:
  inception:
    driver: bridge
